<footer class="pt-3" style="background-color: #2c3e50; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);">
    <div class="container d-flex justify-content-center align-items-center text-light fw-lighter">
        <p class="mb-0">&copy; Cartify 2024 | All Rights Reserved</p>
    </div>
</footer>
