/* Navbar Styles */
.navbar {
    background-color: #2c3e50;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ecf0f1;
    font-weight: bold;
}

.nav-link {
    color: #ecf0f1;
}

.nav-link.active {
    color: #f39c12;
}

.nav-link:hover {
    color: #f39c12;
}

.navbar-toggler {
    border-color: #ecf0f1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(236, 240, 241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-light {
    color: #ecf0f1;
    border-color: #ecf0f1;
}

.btn-outline-light:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}
